.invalid-match
{
  font-size: 80%;
  color:#dc3545;
}

.show-password
{
  position:absolute;
  right:10px;
  top:57%;
  transform:translate(0,-50%);
  -webkit-transform:translate(0,-50%);
  -o-transform:translate(0,-50%);
  padding: 0px 2px;
  font-size:12px !important;
  cursor:pointer;
}
