<div>
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3"
  >
    <h4 class="text-muted">Facultad</h4>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a
          class="nav-link linkhand"
          [ngClass]="listClass"
          (click)="listSection()"
          >Listado</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link linkhand"
          [ngClass]="registerClass"
          (click)="registerSection()"
          >Registro</a
        >
      </li>
    </ul>
  </div>

  <!-- LIST SECTION -->
  <div *ngIf="listForm">
    <div class="card border-0 rounded-0 h-100">
      <div class="card-title mb-1 p-3">
        <h5>Listado</h5>
      </div>
      <div class="card-body">
        <div class="mb-3">
          <label>Filtro de búsqueda</label>
          <input
            type="text"
            class="form-control rounded-0"
            placeholder="¿Qué quieres buscar?"
            (keyup)="applyFilter($event.target.value)"
          />
        </div>
        <hr />
        <div class="table-responsive">
          <table class="table table-sm table-striped">
            <caption>
              Listado de Facultades
            </caption>
            <thead class="thead-dark">
              <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Correo</th>
                <th scope="col">Registro</th>
                <th scope="col">Facultad</th>
                <th scope="col">Tipo</th>
                <th scope="col">Estado</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center" *ngIf="loading">
                <td colspan="12">
                  <div
                    class="spinner-border text-primary mt-1 mb-1"
                    role="status"
                  >
                    <span class="sr-only">Loading...</span>
                  </div>
                </td>
              </tr>
              <tr *ngFor="let user of list_users | async; index as id">
                <th class="text-center" scope="row">{{ id + 1 }}</th>
                <td class="text-left">
                  {{ user.nombre_usuario }} {{ user.apellido_usuario }}
                </td>
                <td class="text-center">{{ user.correo_usuario }}</td>
                <td class="text-center">{{ user.fecha_registro_usuario }}</td>
                <td class="text-center">{{ user.nombre_facultad }}</td>
                <td class="text-center">{{ user.nombre_tipo_usuario }}</td>
                <td class="text-center">
                  <span
                    class="badge badge-pill"
                    [ngClass]="{
                      'badge-success': user.id_estado_usuario == 1,
                      'badge-danger': user.id_estado_usuario == 2
                    }"
                  >
                    {{ user.nombre_estado_usuario }}
                  </span>
                </td>
                <td class="text-center">
                  <button
                    type="button"
                    class="btn btn-lightning rounded-0 btn-sm"
                    (click)="loadDetail(user); openDetailModal(detailTemplate)"
                  >
                    Detalle
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger rounded-0 ml-1 btn-sm"
                    (click)="loadDetail(user); openDeleteModal(deleteTemplate)"
                  >
                    Eliminar
                  </button>
                </td>
              </tr>
              <tr class="text-center" *ngIf="messageListUsers">
                <td colspan="12">
                  <div class="alert alert-info mt-2" role="alert">
                    No se han registrado usuarios en el sistema
                  </div>
                </td>
              </tr>
              <tr class="text-center" *ngIf="messageFilterResult">
                <td colspan="12">
                  <div class="alert alert-primary mt-2" role="alert">
                    No se han encontrado resultados para tu búsqueda
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <hr />
          <mat-paginator
            [pageSizeOptions]="[10, 15, 30]"
            showFirstLastButtons
          ></mat-paginator>
        </div>
      </div>
    </div>
  </div>

  <!-- REGISTER SECTION -->
  <div *ngIf="registerForm">
    <div class="form-row">
      <div class="col-md-3"></div>

      <div class="col-md-6">
        <div class="card border-0 rounded-0 h-100">
          <div class="card-title mb-1 p-3">
            <h5>Registro</h5>
          </div>
          <div class="card-body">
            <form [formGroup]="user_form" (ngSubmit)="registerUser()">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Nombre</label>
                  <input
                    type="text"
                    class="form-control rounded-0"
                    placeholder="Nombre del usuario"
                    formControlName="user_name"
                    [ngClass]="{
                      'border-danger': submitted_form && ru.user_name.errors,
                      'is-invalid': submitted_form && ru.user_name.errors
                    }"
                  />
                  <div
                    *ngIf="submitted_form && ru.user_name.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="ru.user_name.errors.required">
                      El nombre del usuario es necesario
                    </div>
                    <div *ngIf="ru.user_name.errors.pattern">
                      El campo sólo puede contener valores alfanuméricos
                    </div>
                    <div *ngIf="ru.user_name.errors.maxlength">
                      El nombre del usuario debe contener máximo 40 caracteres
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label>Apellido</label>
                  <input
                    type="text"
                    class="form-control rounded-0"
                    placeholder="Apellido del usuario"
                    formControlName="user_lastname"
                    [ngClass]="{
                      'border-danger':
                        submitted_form && ru.user_lastname.errors,
                      'is-invalid': submitted_form && ru.user_lastname.errors
                    }"
                  />
                  <div
                    *ngIf="submitted_form && ru.user_lastname.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="ru.user_lastname.errors.required">
                      El apellido del usuario es necesario
                    </div>
                    <div *ngIf="ru.user_lastname.errors.pattern">
                      El campo sólo puede contener valores alfanuméricos
                    </div>
                    <div *ngIf="ru.user_lastname.errors.maxlength">
                      El apellido del usuario debe contener máximo 40 caracteres
                    </div>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <label>Facultad</label>
                  <select
                    class="form-control rounded-0"
                    formControlName="user_faculty"
                    [ngClass]="{
                      'border-danger': submitted_form && ru.user_faculty.errors,
                      'is-invalid': submitted_form && ru.user_faculty.errors
                    }"
                  >
                    <option
                      *ngFor="let faculty of list_faculties"
                      [value]="faculty.id_facultad"
                    >
                      {{ faculty.nombre_facultad }}
                    </option>
                    <option *ngIf="messageListFaculties">
                      No se han registrado facultades en el sistema
                    </option>
                  </select>
                  <div
                    *ngIf="submitted_form && ru.user_faculty.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="ru.user_faculty.errors.required">
                      La facultad del usuario es necesaria
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label>Tipo de Usuario</label>
                  <select
                    class="form-control rounded-0"
                    formControlName="user_type"
                    [ngClass]="{
                      'border-danger': submitted_form && ru.user_type.errors,
                      'is-invalid': submitted_form && ru.user_type.errors
                    }"
                  >
                    <option
                      *ngFor="let type of list_user_type"
                      [value]="type.id_tipo_usuario"
                    >
                      {{ type.nombre_tipo_usuario }}
                    </option>
                  </select>
                  <div
                    *ngIf="submitted_form && ru.user_type.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="ru.user_type.errors.required">
                      El tipo de usuario es necesario
                    </div>
                  </div>
                </div>

                <div class="form-group col-md-12">
                  <label>Correo</label>
                  <input
                    type="text"
                    class="form-control rounded-0"
                    placeholder="Correo electrónico del usuario"
                    formControlName="user_email"
                    [ngClass]="{
                      'border-danger': submitted_form && ru.user_email.errors,
                      'is-invalid': submitted_form && ru.user_email.errors
                    }"
                  />
                  <div
                    *ngIf="submitted_form && ru.user_email.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="ru.user_email.errors.required">
                      El correo electrónico del usuario es necesario
                    </div>
                    <div *ngIf="ru.user_email.errors.email">
                      El correo debe coincidir con una dirección de correo
                      electrónico válida
                    </div>
                  </div>
                </div>

                <div class="form-group col-md-12">
                  <label>Contraseña</label>
                  <input
                    [type]="is_active ? 'password' : 'text'"
                    class="form-control rounded-0"
                    placeholder="Asignar una contraseña para el usuario"
                    formControlName="user_password"
                    [ngClass]="{
                      'border-danger':
                        submitted_form && ru.user_password.errors,
                      'is-invalid': submitted_form && ru.user_password.errors
                    }"
                    #user_password
                    id="user_password"
                  />
                  <div
                    *ngIf="submitted_form && ru.user_password.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="ru.user_password.errors.required">
                      La contraseña es necesaria
                    </div>
                    <div *ngIf="ru.user_password.errors.minlength">
                      La contraseña debe contener mínimo 5 caracteres
                    </div>
                    <div *ngIf="ru.user_password.errors.maxlength">
                      La contraseña debe contener máximo 25 caracteres
                    </div>
                  </div>
                  <input type="hidden" id="passeye-0" />
                  <div
                    class="btn btn-sm btn-outline-primary show-password"
                    (click)="changeInput()"
                  >
                    {{ state_input }}
                  </div>
                  <small class="float-right"
                    >{{ user_password.value.length }} / 25</small
                  >
                </div>

                <div class="form-group col-md-12">
                  <label>Contraseña (confirmación)</label>
                  <input
                    [type]="is_active ? 'password' : 'text'"
                    class="form-control rounded-0"
                    placeholder="Confirmar contraseña"
                    formControlName="user_confirm_password"
                    [ngClass]="{
                      'border-danger': user_form.hasError('notSame'),
                      'is-invalid': user_form.hasError('notSame')
                    }"
                    #user_confirm_password
                  />
                  <div
                    class="invalid-match"
                    *ngIf="user_form.hasError('notSame')"
                  >
                    <div>Las contraseñas ingresadas no coinciden</div>
                  </div>
                  <small class="float-right"
                    >{{ user_confirm_password.value.length }} / 25</small
                  >
                </div>

                <div class="col-md-12">
                  <hr />
                </div>

                <div class="col-md-12">
                  <button
                    type="submit"
                    class="btn btn-lightning rounded-0 mb-2 mr-2"
                  >
                    Registrar usuario
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-3"></div>
    </div>
  </div>
</div>

<!--
********************************************************************************
********************************************************************************
******************************    MODAL WINDOW    ******************************
********************************************************************************
********************************************************************************
-->

<!-- Modal -->
<ng-template #detailTemplate>
  <div class="modal-header">
    <h5 class="modal-title pull-left">Detalle</h5>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="update_user_form" (ngSubmit)="updateUser()">
    <div class="modal-body">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Nombre</label>
          <input
            type="text"
            class="form-control rounded-0"
            placeholder="Nombre del usuario"
            formControlName="user_name"
            [ngClass]="{
              'border-danger': updated_form && uu.user_name.errors,
              'is-invalid': updated_form && uu.user_name.errors
            }"
          />
          <div
            *ngIf="updated_form && uu.user_name.errors"
            class="invalid-feedback"
          >
            <div *ngIf="uu.user_name.errors.required">
              El nombre del usuario es necesario
            </div>
            <div *ngIf="uu.user_name.errors.pattern">
              El campo sólo puede contener valores alfanuméricos
            </div>
            <div *ngIf="uu.user_name.errors.maxlength">
              El nombre del usuario debe contener máximo 40 caracteres
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>Apellido</label>
          <input
            type="text"
            class="form-control rounded-0"
            placeholder="Apellido del usuario"
            formControlName="user_lastname"
            [ngClass]="{
              'border-danger': updated_form && uu.user_lastname.errors,
              'is-invalid': updated_form && uu.user_lastname.errors
            }"
          />
          <div
            *ngIf="updated_form && uu.user_lastname.errors"
            class="invalid-feedback"
          >
            <div *ngIf="uu.user_lastname.errors.required">
              El apellido del usuario es necesario
            </div>
            <div *ngIf="uu.user_lastname.errors.pattern">
              El campo sólo puede contener valores alfanuméricos
            </div>
            <div *ngIf="uu.user_lastname.errors.maxlength">
              El apellido del usuario debe contener máximo 40 caracteres
            </div>
          </div>
        </div>

        <div class="form-group col-md-6">
          <label>Facultad</label>
          <select
            class="form-control rounded-0"
            formControlName="user_faculty"
            [ngClass]="{
              'border-danger': updated_form && uu.user_faculty.errors,
              'is-invalid': updated_form && uu.user_faculty.errors
            }"
          >
            <option
              *ngFor="let faculty of list_faculties"
              [value]="faculty.id_facultad"
            >
              {{ faculty.nombre_facultad }}
            </option>
            <option *ngIf="messageListFaculties">
              No se han registrado facultades en el sistema
            </option>
          </select>
          <div
            *ngIf="updated_form && uu.user_faculty.errors"
            class="invalid-feedback"
          >
            <div *ngIf="uu.user_faculty.errors.required">
              La facultad del usuario es necesaria
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>Tipo de Usuario</label>
          <select
            class="form-control rounded-0"
            formControlName="user_type"
            [ngClass]="{
              'border-danger': updated_form && uu.user_type.errors,
              'is-invalid': updated_form && uu.user_type.errors
            }"
          >
            <option
              *ngFor="let type of list_user_type"
              [value]="type.id_tipo_usuario"
            >
              {{ type.nombre_tipo_usuario }}
            </option>
          </select>
          <div
            *ngIf="updated_form && uu.user_type.errors"
            class="invalid-feedback"
          >
            <div *ngIf="uu.user_type.errors.required">
              El tipo de usuario es necesario
            </div>
          </div>
        </div>

        <div class="form-group col-md-6">
          <label>Correo</label>
          <input
            type="text"
            class="form-control rounded-0"
            placeholder="Correo electrónico del usuario"
            formControlName="user_email"
            [ngClass]="{
              'border-danger': updated_form && uu.user_email.errors,
              'is-invalid': updated_form && uu.user_email.errors
            }"
          />
          <div
            *ngIf="updated_form && uu.user_email.errors"
            class="invalid-feedback"
          >
            <div *ngIf="uu.user_email.errors.required">
              El correo electrónico del usuario es necesario
            </div>
            <div *ngIf="uu.user_email.errors.email">
              El correo debe coincidir con una dirección de correo electrónico
              válida
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>Estado del Usuario</label>
          <select
            class="form-control rounded-0"
            formControlName="user_state"
            [ngClass]="{
              'border-danger': updated_form && uu.user_state.errors,
              'is-invalid': updated_form && uu.user_state.errors
            }"
          >
            <option
              *ngFor="let state of list_user_state"
              [value]="state.id_estado_usuario"
            >
              {{ state.nombre_estado_usuario }}
            </option>
          </select>
          <div
            *ngIf="updated_form && uu.user_state.errors"
            class="invalid-feedback"
          >
            <div *ngIf="uu.user_state.errors.required">
              El estad del usuario es necesario
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <hr />
        </div>

        <div class="col-md-12">
          <div class="alert alert-primary" role="alert">
            Se debe llenar el campo de las contraseñas sólo en caso que desee
            actualizar la contraseña del usuario.
          </div>
        </div>

        <div class="form-group col-md-12">
          <label>Contraseña</label>
          <input
            [type]="is_active ? 'password' : 'text'"
            class="form-control rounded-0"
            placeholder="Asignar una contraseña para el usuario"
            formControlName="user_password"
            [ngClass]="{
              'border-danger': updated_form && uu.user_password.errors,
              'is-invalid': updated_form && uu.user_password.errors
            }"
            #user_password
            id="user_password"
          />
          <div
            *ngIf="updated_form && uu.user_password.errors"
            class="invalid-feedback"
          >
            <div *ngIf="uu.user_password.errors.minlength">
              La contraseña debe contener mínimo 5 caracteres
            </div>
            <div *ngIf="uu.user_password.errors.maxlength">
              La contraseña debe contener máximo 25 caracteres
            </div>
          </div>
          <input type="hidden" id="passeye-0" />
          <div
            class="btn btn-sm btn-outline-primary show-password"
            (click)="changeInput()"
          >
            {{ state_input }}
          </div>
          <small class="float-right"
            >{{ user_password.value.length }} / 25</small
          >
        </div>

        <div class="form-group col-md-12">
          <label>Contraseña (confirmación)</label>
          <input
            [type]="is_active ? 'password' : 'text'"
            class="form-control rounded-0"
            placeholder="Confirmar contraseña"
            formControlName="user_confirm_password"
            [ngClass]="{
              'border-danger': update_user_form.hasError('notSame'),
              'is-invalid': update_user_form.hasError('notSame')
            }"
            #user_confirm_password
          />
          <div
            class="invalid-match"
            *ngIf="update_user_form.hasError('notSame')"
          >
            <div>Las contraseñas ingresadas no coinciden</div>
          </div>
          <small class="float-right"
            >{{ user_confirm_password.value.length }} / 25</small
          >
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-lightning rounded-0"
        (click)="modalRef.hide()"
      >
        Cerrar
      </button>
      <button type="submit" class="btn btn-primary rounded-0">
        Actualizar
      </button>
    </div>
  </form>
</ng-template>

<!-- Modal -->
<ng-template #deleteTemplate>
  <div class="modal-header">
    <h5 class="modal-title pull-left">Eliminar</h5>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-row">
      <div class="col-md-12">
        <p class="text-justify text-color">
          ¿Está seguro que desea eliminar el registro de
          <strong class="text-danger"
            >{{ detail_user_name }} {{ detail_user_lastname }} ({{
              detail_user_email
            }})</strong
          >? Esta operación es irreversible lo que significa que no podrá
          recuperar dicha información eliminada.
        </p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-lightning rounded-0"
      (click)="modalRef.hide()"
    >
      Cerrar
    </button>
    <button
      type="button"
      class="btn btn-primary rounded-0"
      (click)="deleteUser(); modalRef.hide()"
    >
      Confirmar
    </button>
  </div>
</ng-template>
