<div>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
    <h4 class="text-muted">Facultad</h4>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link linkhand" [ngClass]="listClass" (click)="listSection()">Listado</a>
      </li>
      <li class="nav-item">
        <a class="nav-link linkhand" [ngClass]="registerClass" (click)="registerSection()">Registro</a>
      </li>
    </ul>
  </div>

  <!-- LIST SECTION -->
  <div *ngIf="listForm">
    <div class="card border-0 rounded-0 h-100">
      <div class="card-title mb-1 p-3">
        <h5>Listado</h5>
      </div>
      <div class="card-body">
        <div class="mb-3">
          <label>Filtro de búsqueda</label>
          <input type="text" class="form-control rounded-0" placeholder="¿Qué quieres buscar?" (keyup)="applyFilter($event.target.value)">
        </div>
        <hr>
        <div class="table-responsive">
          <table class="table table-sm table-striped">
            <caption>Listado de Facultades</caption>
            <thead class="thead-dark">
              <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">Facultad</th>
                <th scope="col">Siglas</th>
                <th scope="col">Ciudad</th>
                <th scope="col">Registro</th>
                <th scope="col">Integrantes</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center" *ngIf="loading">
                <td colspan="12">
                  <div class="spinner-border text-primary mt-1 mb-1" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </td>
              </tr>
              <tr *ngFor="let faculty of list_faculties | async, index as id">
                <th class="text-center" scope="row">{{id+1}}</th>
                <td class="text-left">{{faculty.nombre_facultad}}</td>
                <td class="text-center">{{faculty.siglas_facultad}}</td>
                <td class="text-center">{{faculty.nombre_ciudad}}, {{faculty.nombre_departamento}}</td>
                <td class="text-center">{{faculty.fecha_registro_facultad}}</td>
                <td class="text-center">
                  <span class="badge badge-pill badge-dark linkhand" matTooltip="Ver listado" data-toggle="modal" data-target="#modalDetailList" (click)="loadDetailMemberList(faculty)">
                    {{faculty.contador_integrantes}}
                  </span>
                </td>
                <td class="text-center">
                  <button type="button" class="btn btn-lightning rounded-0 btn-sm"   data-toggle="modal" data-target="#modalDetail" (click)="loadDetail(faculty)">Detalle</button>
                  <button type="button" class="btn btn-danger rounded-0 ml-1 btn-sm" data-toggle="modal" data-target="#modalDelete" (click)="loadDetail(faculty)">Eliminar</button>
                </td>
              </tr>
              <tr class="text-center" *ngIf="messageListFaculties">
                <td colspan="12">
                  <div class="alert alert-info mt-2" role="alert">
                    No se han registrado facultades en el sistema
                  </div>
                </td>
              </tr>
              <tr class="text-center" *ngIf="messageFilterResult">
                <td colspan="12">
                  <div class="alert alert-primary mt-2" role="alert">
                    No se han encontrado resultados para tu búsqueda
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <hr>
          <mat-paginator [pageSizeOptions]="[10, 15, 30]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </div>

  <!-- REGISTER SECTION -->
  <div *ngIf="registerForm">
    <div class="form-row">
      <div class="col-md-3"></div>

      <div class="col-md-6">
        <div class="card border-0 rounded-0 h-100">
          <div class="card-title mb-1 p-3">
            <h5>Registro</h5>
          </div>
          <div class="card-body">
            <form [formGroup]="faculty_form" (ngSubmit)="registerFaculty()">
              <div class="form-row">

                <div class="form-group col-md-12">
                  <label>Nombre</label>
                  <input type="text" class="form-control rounded-0" placeholder="Nombre de la facultad" formControlName="faculty_name"
                         [ngClass]="{ 'border-danger': submitted_form && rf.faculty_name.errors,
                                      'is-invalid': submitted_form && rf.faculty_name.errors
                                    }">
                  <div *ngIf="submitted_form && rf.faculty_name.errors" class="invalid-feedback">
                     <div *ngIf="rf.faculty_name.errors.required">El nombre de la facultad es necesario</div>
                     <div *ngIf="rf.faculty_name.errors.maxlength">El campo solo acepta 120 caracteres</div>
                     <div *ngIf="rf.faculty_name.errors.pattern">El campo solo acepta letras</div>
                  </div>
                </div>

                <div class="form-group col-md-12">
                  <label>Siglas</label>
                  <input type="text" class="form-control rounded-0" placeholder="Siglas de la facultad" formControlName="faculty_acronym"
                         [ngClass]="{ 'border-danger': submitted_form && rf.faculty_acronym.errors,
                                      'is-invalid': submitted_form && rf.faculty_acronym.errors
                                    }">
                  <div *ngIf="submitted_form && rf.faculty_acronym.errors" class="invalid-feedback">
                     <div *ngIf="rf.faculty_acronym.errors.required">La siglas de la facultad es necesario</div>
                     <div *ngIf="rf.faculty_acronym.errors.maxlength">El campo solo acepta 10 caracteres</div>
                     <div *ngIf="rf.faculty_acronym.errors.pattern">El campo solo acepta letras</div>
                  </div>
                </div>

                <div class="form-group col-md-12">
                  <label>Ciudad</label>
                  <select class="form-control rounded-0" formControlName="faculty_city"
                          [ngClass]="{ 'border-danger': submitted_form && rf.faculty_city.errors,
                                       'is-invalid': submitted_form && rf.faculty_city.errors
                                     }">
                    <option *ngFor="let ciudad of list_cities" [value]="ciudad.id_ciudad">
                      {{ciudad.nombre_ciudad}}, {{ciudad.nombre_departamento}}.
                    </option>
                  </select>
                  <div *ngIf="submitted_form && rf.faculty_city.errors" class="invalid-feedback">
                     <div *ngIf="rf.faculty_city.errors.required">La ciudad de la facultad es necesario</div>
                  </div>
                </div>

                <div class="col-md-12">
                  <hr>
                </div>

                <div class="col-md-12">
                  <button type="submit" class="btn btn-lightning rounded-0 mb-2 mr-2">Registrar facultad</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-3"></div>
    </div>
  </div>

</div>

<!--
********************************************************************************
********************************************************************************
******************************    MODAL WINDOW    ******************************
********************************************************************************
********************************************************************************
-->

<!-- Modal -->
<div class="modal fade" id="modalDetail" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Detalle</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="update_faculty_form" (ngSubmit)="updateFaculty()">
        <div class="modal-body">
          <div class="form-row">

            <div class="form-group col-md-12">
              <label>Nombre</label>
              <input type="text" class="form-control rounded-0" placeholder="Nombre de la facultad" formControlName="faculty_name"
                     [ngClass]="{ 'border-danger': updated_form && uf.faculty_name.errors,
                                  'is-invalid': updated_form && uf.faculty_name.errors
                                }">
              <div *ngIf="updated_form && uf.faculty_name.errors" class="invalid-feedback">
                 <div *ngIf="uf.faculty_name.errors.required">El nombre de la facultad es necesario</div>
                 <div *ngIf="uf.faculty_name.errors.maxlength">El campo solo acepta 120 caracteres</div>
                 <div *ngIf="uf.faculty_name.errors.pattern">El campo solo acepta letras</div>
              </div>
            </div>

            <div class="form-group col-md-12">
              <label>Siglas</label>
              <input type="text" class="form-control rounded-0" placeholder="Siglas de la facultad" formControlName="faculty_acronym"
                     [ngClass]="{ 'border-danger': updated_form && uf.faculty_acronym.errors,
                                  'is-invalid': updated_form && uf.faculty_acronym.errors
                                }">
              <div *ngIf="updated_form && uf.faculty_acronym.errors" class="invalid-feedback">
                 <div *ngIf="uf.faculty_acronym.errors.required">La siglas de la facultad es necesario</div>
                 <div *ngIf="uf.faculty_acronym.errors.maxlength">El campo solo acepta 10 caracteres</div>
                 <div *ngIf="uf.faculty_acronym.errors.pattern">El campo solo acepta letras</div>
              </div>
            </div>

            <div class="form-group col-md-12">
              <label>Ciudad</label>
              <select class="form-control rounded-0" formControlName="faculty_city"
                      [ngClass]="{ 'border-danger': updated_form && uf.faculty_city.errors,
                                   'is-invalid': updated_form && uf.faculty_city.errors
                                 }">
                <option *ngFor="let ciudad of list_cities" [value]="ciudad.id_ciudad">
                  {{ciudad.nombre_ciudad}}, {{ciudad.nombre_departamento}}.
                </option>
              </select>
              <div *ngIf="updated_form && uf.faculty_city.errors" class="invalid-feedback">
                 <div *ngIf="uf.faculty_city.errors.required">La ciudad de la facultad es necesario</div>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-lightning rounded-0" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary rounded-0">Actualizar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalDelete" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Eliminar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row">

          <div class="col-md-12">
            <p class="text-justify text-color">
              ¿Está seguro que desea eliminar el registro de <strong class="text-danger">{{detail_faculty_name}}</strong>?
              Esta operación es irreversible lo que significa que no podrá recuperar dicha información eliminada.
            </p>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lightning rounded-0" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary rounded-0" (click)="deleteFaculty()" data-dismiss="modal">Confirmar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalDetailList" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Listado</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row">

          <div class="col-md-12">
            <div class="my-3 p-3 bg-white rounded shadow" *ngFor="let type of list_members">
              <h6 class="border-bottom border-gray pb-2 mb-0">{{type.member_type}}</h6>
              <div class="media text-muted pt-3" *ngFor="let member of type.member_list; let last = last;">
                <div class="media-body pb-3 mb-0 small lh-125 border-gray" [ngClass]="{'border-bottom': !last}">
                  <div class="d-flex justify-content-between align-items-center w-100">
                    <strong class="text-gray-dark">{{member.nombre_integrante}} {{member.apellido_integrante}}</strong>
                    <a>{{member.cedula_integrante}}</a>
                  </div>
                  <span class="d-block">{{member.correo_integrante}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 text-center" *ngIf="messageListMembers" style="margin-top:3%;">
            <div class="alert alert-info" role="alert">
              No se han registrado los integrantes a la facultad
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lightning rounded-0" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
