<div>
  <h4 class="mb-4 text-muted">Tablero</h4>

  <div class="row scrollable-card-list" *ngIf="!messageReportCounters">
    <div class="col-md-6 col-lg-3 mb-3" *ngFor="let card_report of report_counter">
      <div class="card border-0 rounded-0">
        <div class="card-body">
          <div class="card-innerBody d-flex align-items-center">
            <div class="card-icon text-light">
              <i class="fas" aria-hidden="true"
                 [ngClass]="{
                              'fa-file-alt': card_report.id_tipo_reporte        == 1,
                              'fa-user-plus': card_report.id_tipo_reporte       == 2,
                              'fa-clipboard-check': card_report.id_tipo_reporte == 3,
                              'fa-hands-helping': card_report.id_tipo_reporte   == 4,
                              'fa-file-signature': card_report.id_tipo_reporte  >= 5
                            }"></i>
            </div>
            <div class="ml-auto">
              <p class="card-label text-right text-muted linkhand" matTooltip="{{card_report.nombre_tipo_reporte}}">{{card_report.nombre_tipo_reporte | truncate:25}}</p>
              <h4 class="card-text text-right">{{card_report.counter_report}}</h4>
            </div>
          </div>
        </div>
        <div class="card-footer d-flex ">
          <small class="text-muted">{{card_report.year_report}}</small>
          <small class="text-success ml-auto">
            {{card_report.siglas_facultad}}
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="messageReportCounters">
    <div class="col-md-12">
      <div class="alert alert-info mt-2" role="alert">
        No se han registrado reportes suficientes para generar las tarjetas con su respectiva información.
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <!--
    <div class="col-12 col-xl-6 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-title mb-1 p-3 d-flex">
          <h6>Chart Line</h6>
          <a class="btn ml-auto p-0 text-lightning"> <i class="fas fa-ellipsis-h"></i> </a>
        </div>
        <div class="card-body">
          <div class="chart-container" style="position: relative;">
            <canvas id="chart-line" width="2" height="1"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-xl-6 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-title mb-1 p-3 d-flex">
          <h6>Chart Bar</h6>
          <a class="btn ml-auto p-0 text-lightning"> <i class="fas fa-ellipsis-h"></i> </a>
        </div>
        <div class="card-body">
          <div class="chart-container" style="position: relative;">
            <canvas id="chart-bar" width="2" height="1"></canvas>
          </div>
        </div>
      </div>
    </div>
    -->
    <div class="col-12 col-xl-4 mb-4 align-items-stretch">
      <div class="card h-100 border-0 rounded-0">
        <div class="card-title mb-1 p-3 d-flex">
          <h6>Reportes (%)</h6>
          <a class="btn ml-auto p-0 text-lightning" [matMenuTriggerFor]="doughnut_menu">
            <i class="fas fa-ellipsis-h"></i>
          </a>
          <mat-menu #doughnut_menu="matMenu">
            <button mat-menu-item *ngFor="let year of doughnut_year_menu" (click)="selectYear(year)">{{year}}</button>
          </mat-menu>
        </div>
        <div class="card-body">
          <div class="chart-container d-flex h-100 align-items-center justify-content-center" style="position: relative;" *ngIf="!messageChartDoughnut">
            <canvas id="chart-doughnut" style="height:100%"></canvas>
          </div>
          <div class="alert alert-info mt-2" role="alert" style="margin-top:10% !important;" *ngIf="messageChartDoughnut">
            Sin referencias para generar la gráfica
          </div>
        </div>
        <div class="card-footer" *ngIf="!messageChartDoughnut">
          <div class="legend d-flex just" *ngFor="let footer_chart of doughnut_footer_chart">
            <div class="flex-fill text-left"><span class="d-inline-block rounded-circle mr-2" [ngStyle]="{'background-color': footer_chart.color_report}"></span><small>{{footer_chart.title_report}}</small></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-xl-8 mb-4 align-items-stretch">
      <div class="card h-100 border-0 rounded-0">
        <div class="card-title mb-1 p-3 d-flex">
          <h6>Últimos Cinco Reportes</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive-md">
            <div class="table-responsive">
              <table class="table ">
                <thead>
                  <tr>
                    <th class="text-center" style="width:40%;">Reporte</th>
                    <th class="number text-center">Estudiantes</th>
                    <th class="text-center" style="width:20%;">Fecha</th>
                    <th class="text-center" style="width:20%;">Estado</th>
                    <th class="text-center" style="width:5%;">Opciones</th>
                  </tr>
                </thead>
                <tbody class="no-border-x">
                  <tr class="text-center" *ngIf="loading">
                    <td colspan="12">
                      <div class="spinner-border text-primary mt-1 mb-1" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                    </td>
                  </tr>
                  <tr *ngFor="let report of report_list">
                    <td class="text-left">{{report.nombre_tipo_reporte}}</td>
                    <td class="number text-center">
                      <span class="badge badge-pill badge-dark linkhand" matTooltip="{{report.listado_estudiante}}">
                        {{report.contador_estudiante}}
                      </span>
                    </td>
                    <td class="text-center">
                      {{report.fecha_generacion_configuracion_reporte}}
                    </td>
                    <td class="text-center" [ngClass]="{ 'text-success': report.id_funcionalidad == '1', 'text-danger': report.id_funcionalidad == '3'}">
                      {{report.nombre_funcionalidad}}
                    </td>
                    <td class="text-center">
                      <button type="button" class="btn btn-outline-danger btn-sm" (click)="showReport(report)" matTooltip="Visualizar reporte">
                        <i class="far fa-file-pdf"></i>
                      </button>
                    </td>
                  </tr>
                  <tr class="text-center" *ngIf="messageReportList">
                    <td colspan="12">
                      <div class="alert alert-info mt-2" role="alert">
                        No se han registrado reportes en el sistema
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>
